**/__pycache__
**/*.pyc
**/*.so
.venv/
.deps/
.pytest_cache/
.ruff_cache/
build/
dist/
docker/
!docker/entrypoints/
!docker/entrypoints/**
cmake-build*/
/artifacts/vllm-rocm-install/
/bake-config-build-*.json
/wheel-export/
rust/target/
vllm.egg-info/
vllm/vllm-rs
